.dashboard-container {
    display: flex;
    height: 100vh;
  }
  
  .right-section {
    display: flex;
    flex-direction: column;
    flex: 1;
  }
  
  .dashboard-content > :last-child,
  .dashboard-content > :nth-child(2) {
    /* Apply styles for DashboardHeader and Main here */
    flex: 1;
  }
  
  .dashboard-content > :first-child {
    /* Style for the SideBar */
    width: 250px;
  }
  
  .left-section {
    background-color: #3c4b64;;
    width: 15rem;
    overflow: hidden;
    position: relative;
    left: 0px;
    height: 100vh;
    transition: 0.5s;

  }

  .hide_left_section{
    background-color: #3c4b64;;
    width: 15rem;
    overflow: hidden;
    position: absolute;
    left: -250px;
    height: 100vh;
    transition: 0.5s;
  }


/* Extra small devices (phones, 600px and down) */

@media only screen and (max-width: 600px) {

  .hide_left_section_mobile{
    background-color: black;
    width: 15rem;
    overflow: hidden;
    position: absolute;
    left: -250px;
    height: 100vh;
    transition: 0.5s;
  }
  .show_left_section_mobile{
    background-color: black;
    width: 15rem;
    overflow: hidden;
    position: absolute;
    left: 0px;
    height: 100vh;
    transition: 0.5s;
  }

  }
  